<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Javier Hernande'z News </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large"> Hernande'z News</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-articles [articles]="articles"></app-articles>
  <ion-infinite-scroll
    threshold="25%"
    position="bottom"
    (ionInfinite)="loadData()"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargarndo Data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
